In [1]:
import pandas as pd
import numpy as np

In [2]:
solar_df = pd.read_csv('../Data/solar.csv')
solar_df.head()

,Unnamed: 0,Unnamed: 0.1,Date,Solar0,Solar1,Solar2,Solar3,Solar4,Solar5,Time,olympic_solar,oakleigh_solar,moorabbin_solar
0,133602,133602,2020-04-25,0.0,7.63,3.75,1.34,1.66,0.0,14:00:00,10.4,10.6,10.2
1,133603,133603,2020-04-25,0.0,7.63,3.75,1.34,1.66,0.0,14:15:00,10.4,10.6,10.2
2,133604,133604,2020-04-25,0.0,7.63,3.75,1.34,1.66,0.0,14:30:00,10.4,10.6,10.2
3,133605,133605,2020-04-25,0.0,7.63,3.75,1.34,1.66,0.0,14:45:00,10.4,10.6,10.2
4,133606,133606,2020-04-25,0.0,7.63,3.75,1.34,1.66,0.0,15:00:00,10.4,10.6,10.2

In [3]:
solar_df.describe()

,Unnamed: 0,Unnamed: 0.1,Solar0,Solar1,Solar2,Solar3,Solar4,Solar5,olympic_solar,oakleigh_solar,moorabbin_solar
count,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000,15208.000000
mean,141205.500000,141205.500000,4.386435,2.587612,1.903342,1.324001,0.970571,4.537017,9.674066,9.438506,9.652078
std,4390.315782,4390.315782,8.858768,3.363009,2.547754,2.205833,1.438830,8.436786,3.582926,3.692676,3.538517
min,133602.000000,133602.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.600000,2.600000,2.200000
25%,137403.750000,137403.750000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,7.400000,7.000000,7.200000
50%,141205.500000,141205.500000,0.010000,0.160000,0.120000,0.100000,0.070000,0.000000,9.100000,9.100000,9.100000
75%,145007.250000,145007.250000,4.130000,6.142500,3.980000,1.340000,1.440000,5.250000,11.300000,11.300000,11.400000
max,148809.000000,148809.000000,50.410000,12.680000,12.910000,11.040000,7.530000,39.570000,20.900000,19.300000,20.600000